$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$header-font: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.header {
  &__wrapper {
    width: 92%;
    margin: 1rem auto 0;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 35%;
    & img {
      width: 100%;
    }
  }

  &__btn {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: 2px solid $pink;
    background-color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
    color: $pink;
    cursor: pointer;
    transition: all 0.5s ease-in;
    transform: scale(1);
    &:hover {
      border-color: $light-pink;
      color: $light-pink;
      transform: scale(1.05);
    }
  }

  &__hero {
    margin-top: 3rem;
  }
}

.hero {
  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    font-family: $header-font;
    color: $dark-cyan;
    line-height: 1.5;
  }
  &__text {
    margin: 2rem 0;
    font-size: 1rem;
    text-align: center;
    color: $dark-cyan;
    line-height: 1.5;
  }

  &__btn-container {
    text-align: center;
  }
  &__btn {
    text-align: center;
    padding: 0.5rem 1.5rem;
    text-transform: capitalize;
    color: #fff;
    border-radius: 20px;
    background-color: $pink;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    font-family: inherit;
    box-shadow: 1px 1px 5px 2px #888;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.5s ease-in;
    &:hover {
      background-color: $light-pink;
      transform: scale(1.05);
    }
  }
  &__img-container {
    width: 100%;
    margin: 3.5rem 0;
    & img {
      width: 100%;
    }
  }
}

.reports {
  width: fit-content;
  margin-inline: auto;
  &__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  &__result {
    font-size: 3.5rem;
    color: $dark-cyan;
    font-family: $header-font;
  }
  &__info {
    font-size: 1rem;
    color: #888;
  }
}

.wrapper {
  position: relative;

  &__img-container {
    padding: 3rem 0;
    & img {
      width: 100%;
    }
  }

  &--cyan {
    color: #fff;
    background-color: $dark-cyan;
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $dark-cyan;
    }
  }
  &--blue {
    background-color: $pale-blue;
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $pale-blue;
    }
  }
  &__info {
    width: 92%;
    margin-inline: auto;
    padding-bottom: 3rem;
    max-width: 420px;
  }
  &__title {
    font-family: $header-font;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    color: $dark-cyan;
  }
  &__text {
    font-size: 1rem;
    font-family: inherit;
    text-align: center;
    margin: 1rem 0;
    color: $dark-cyan;
    line-height: 1.5;
  }

  &__btn {
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    color: #fff;
    background-color: $pink;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px #888;
    text-align: center;
    text-transform: capitalize;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.5s ease-in;
    &:hover {
      background-color: $light-pink;
      transform: scale(1.05);
    }
  }

  &__btn-container {
    text-align: center;
    margin: 2rem 0 5rem;
  }
}

.curved {
  width: 100%;
  & img {
    width: 100%;
  }
}

.footer {
  &__info {
    width: 92%;
    max-width: 420px;
    margin: 0 auto;
    padding: 3rem 0;
  }
  &__title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__text {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__input {
    width: 100%;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
  }

  &__btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.5s ease-in;
    &--pink {
      background-color: $pink;
      color: #fff;
      &:hover {
        background-color: $light-pink;
        transform: scale(1.05);
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & span:nth-of-type(1) {
      margin-right: 1rem;
    }
  }

  &__nav-container {
    width: 25%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    list-style: none;

    & a {
      text-decoration: none;

      color: #fff;

      & i {
        font-size: 1.5rem;
        transition: all 0.5s ease-in-out;
        color: #fff;
        transform: scale(1);
        cursor: pointer;
        &:hover {
          color: hsl(210, 100%, 59%);
          transform: scale(1.1);
        }
      }
    }
  }
}

.form {
  &__input-container {
    width: 100%;
  }
  &__error-message {
    max-height: 0px;
    color: $light-red;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
    &--show {
      max-height: 30px;
    }
  }
}

@media screen and (min-width: 1023px) {
  .header__wrapper {
    width: 85%;
  }
  .hero__img-container {
    width: 65%;
    margin-inline: auto;
  }
  .reports {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__text {
    margin: 2rem auto;
    max-width: 500px;
    text-align: center;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__img-container {
      width: 40%;
    }

    &__info {
      max-width: 40%;
      margin-inline: 0;
    }
  }

  .topic-1__wrapper .wrapper__img-container,
  .topic-3__wrapper .wrapper__img-container {
    order: 2;
  }
  .topic-1__wrapper .wrapper__text,
  .topic-1__wrapper .wrapper__title,
  .topic-3__wrapper .wrapper__title,
  .topic-3__wrapper .wrapper__text,
  .topic-2__wrapper .wrapper__text,
  .topic-2__wrapper .wrapper__title {
    text-align: left;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  section.footer__info {
    width: 420px;
    margin: 0;
    order: 2;
    margin-right: 7.5%;
  }
  article.footer__info {
    width: 420px;
    margin: 0;
    order: 1;
    margin-left: 7.5%;
  }
  .footer__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .form__input-container {
    width: 60%;
  }
  .footer__input {
    margin: 0;
  }
}
